
$color-theme: hsl(208, 100%, 50%);
$color-theme: hsl(140, 100%, 50%);
$color-theme: #5db422;







$color-1: #666;
$color-1: #666;

$color-2: #aaaaaa;
$color-2: #aaaaaa;

$color-3: red;
$color-3: red;

$color-4: #ed3c0d;
$color-4: #ed3c0d;

$color-5: hsl(210, 10%, 23%);
$color-5: #333f37;
//$color-5: #394135;

$color-body: #444;
$color-body: #444;

$color-text-nav: hsl(208, 21%, 46%);
$color-text-nav: #518a64;
//$color-text-nav: hsl(97, 21%, 46%);

$color-6: hsl(208, 21%, 44%);
$color-6: #598a69;
//$color-6: #6b8859;

$color-7: hsl(209, 21%, 56%);
$color-7: #729c80;
//$color-7: #8aa677;

$color-8: hsl(208, 7%, 46%);
$color-8: #6d7e72;
//$color-8:#747e6d;

$color-9: hsl(208, 40%, 20%);
$color-9: #235032;
//$color-9: #2f471f;

$color-10: hsl(208, 68%, 19%);
$color-10: #0f4e23;
//$color-10: #2a5110;

$color-11: hsl(208, 68%, 34%);
$color-11: #248645;
//$color-11: #4b921c;

$color-primary: hsl(208, 56%, 53%);
$color-primary: #11913B;
//$color-primary:#5db422;

$color-12: hsl(208, 56%, 63%);
$color-12: #6ed490;
//$color-12: #96d46e;


$color-13: hsl(208, 56%, 56%);
$color-13: #57d180;
//$color-13: #96d46e;

$color-14: hsl(208, 56%, 61%);
$color-14: #69cf8b;
//$color-14: #90d364;

$color-15: hsl(208, 80%, 79%);
$color-15: #a7f1bf;
//$color-15: #c1f49f;

$color-16: hsl(208, 79%, 46%);
$color-16: hsl(140, 79%, 46%);
//$color-16: #63d219;

$color-17: #fff;
$color-17: #fff;

$color-18: #ddd;
$color-18: #ddd;

$color-19: hsl(209, 81%, 94%);
$color-19: #e0fae8;
//$color-19: hsl(96, 81%, 94%);

$color-20: #eee;
$color-20: #eee;

$color-21: hsl(206, 54%, 97%);
$color-21: #edf5f0;
//$color-21: hsl(96, 54%, 97%);

$color-22: hsl(204, 56%, 96%);
$color-22: #eff3f0;
//$color-22: #f4fbef;

$color-23: hsl(207, 57%, 90%);
$color-23: #d7f4de;
//$color-23: #e3f4d7;

$color-24: rgba(0, 0, 0, 0.08);
$color-24: rgba(0,0,0,0.08);

$color-25: rgba(0,0,0,0.1);
$color-25: rgba(0,0,0,0.1);

$color-26: rgba(0,0,0,0.15);
$color-26: rgba(0,0,0,0.15);

$color-27: rgba(0,0,0,0.16);
$color-27: rgba(0,0,0,0.16);

$color-28: hsla(222, 15%, 56%, 0.25);
$color-28: rgba(126, 153, 129, 0.25);
//$color-28: rgba(139, 160, 126, 0.25);

$color-mask: hsla(208, 55%, 11%, 0.6);
$color-mask: rgba(10, 39, 21, 0.4);
//$color-mask: rgba(25, 43, 13, 0.6);

$color-29: hsla(208, 28%, 65%, 0.8);
$color-29: rgba(154, 197, 158, 0.8);
//$color-29: rgba(161, 191, 141, 0.8);

$color-30: hsla(210, 2%, 84%, 0.6);
$color-30: rgba(213, 216, 214, 0.6);
//$color-30: rgba(214, 215, 213, 0.6);

$color-31: hsla(208, 42%, 18%, 0.6);
$color-31: rgba(32, 68, 38, 0.6);
//$color-31: rgba(42, 65, 27, 0.6);

$color-32: hsla(208, 40%, 20%, 0.7);
$color-32: rgba(31, 71, 35, 0.7);
//$color-32: rgba(47, 71, 31, 0.7);

$color-bg :hsla(208, 56%, 53%, 0.4);
$color-bg :rgba(75, 185, 112, 0.4);
//$color-bg :rgba(122, 202, 68, 0.4)

$color-33: hsla(208, 56%, 53%, 0.5);
$color-33: rgba(68, 202, 84, 0.25);
//$color-33: rgba(122, 202, 68, 0.5);

$color-34: hsla(208, 56%, 53%, 0.7);
$color-34: rgba(68, 202, 93, 0.7);
//$color-34: rgba(122, 202, 68, 0.7);

$color-35: hsla(208, 21%, 46%, 0.9);
$color-35: rgba(93, 142, 98, 0.9);
//$color-35: hsla(96, 21%, 46%, 0.9);

$color-36: hsl(208, 21%, 51%);
$color-36:  #689c6d;
//$color-36:  #7d9c68;
