$color: #666;
$color: #aaaaaa;

$color: red;
$color: #ed3c0d;

$color: #343a40;
$color: #444;
$color: #5c768d;
$color: #587187;
$color: #768fa6;
$color: #6c757d;

$color: #1f3548;
$color: #103453;
$color: #1c5c93;
$color: #428bca;
$color: #6aa3d5;
$color: #5295ce;
$color: #629fd3;
$color: #9eccf4;



$color: #18d26e;


$color: #fff;
$color: #ddd;
$color: #e3f0fc;
$color: #eee;
$color: #f5f9fc;
$color: #f1f7fb;



$color: rgba(0,0,0,0.08);
$color: rgba(0,0,0,0.1);
$color: rgba(0,0,0,0.15);
$color: rgba(0,0,0,0.16);

$color: rgba(127,137,161,0.25);

$color: rgba(13,30,45,0.6);

$color: rgba(140,167,191,0.8);

$color: rgba(214,215,216,0.6);

$color: rgba(31,53,72,0.6);
$color: rgba(31,53,72,0.7);

$color: rgba(66,139,202,0.4);
$color: rgba(66,139,202,0.5);
$color: rgba(66,139,202,0.7);

$color: rgba(92,118,141,0.9);
